body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map-container {
    position: relative;
    height: 80vh; /* Adjust map height */
    width: 100vw;
}

#map {
    height: 100%;
    width: 100%;
}

.player-info {
    position: absolute;
    bottom: 70px; /* Adjust to fit the bottom container */
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.player-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #333;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 50%; /* Circular icons */
}

.location-marker {
    background-color: #ff69b4; /* Pink */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10; /* Ensure it's above the map */
    pointer-events: none; /* Prevent clicks from passing through */
}
